{
  "$schema": "https://swc.rs/schema.json",
  "exclude": [
    ".*\\.test\\.ts$",
    ".*\\.test\\.tsx$",
    ".*/__tests__/.*"
  ],
  "sourceMaps": true,
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dts": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "development": false,
        "useBuiltins": true
      }
    }
  },
  "module": {
    "type": "es6",
  }
}
